<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoticon_group_emoticons</key>
	<array>
        <dict>
            <key>chs</key>
            <string>[呵呵]</string>
            <key>cht</key>
            <string>[呵呵]</string>
            <key>gif</key>
            <string>d_hehe.gif</string>
            <key>png</key>
            <string>d_hehe.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[嘻嘻]</string>
            <key>cht</key>
            <string>[嘻嘻]</string>
            <key>gif</key>
            <string>d_xixi.gif</string>
            <key>png</key>
            <string>d_xixi.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[可怜]</string>
            <key>cht</key>
            <string>[可憐]</string>
            <key>gif</key>
            <string>d_kelian.gif</string>
            <key>png</key>
            <string>d_kelian.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[挖鼻屎]</string>
            <key>cht</key>
            <string>[挖鼻屎]</string>
            <key>gif</key>
            <string>d_wabishi.gif</string>
            <key>png</key>
            <string>d_wabishi.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[鄙视]</string>
            <key>cht</key>
            <string>[鄙視]</string>
            <key>gif</key>
            <string>d_bishi.gif</string>
            <key>png</key>
            <string>d_bishi.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[泪]</string>
            <key>cht</key>
            <string>[淚]</string>
            <key>gif</key>
            <string>d_lei.gif</string>
            <key>png</key>
            <string>d_lei.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[衰]</string>
            <key>cht</key>
            <string>[衰]</string>
            <key>gif</key>
            <string>d_shuai.gif</string>
            <key>png</key>
            <string>d_shuai.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[汗]</string>
            <key>cht</key>
            <string>[汗]</string>
            <key>gif</key>
            <string>d_han.gif</string>
            <key>png</key>
            <string>d_han.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[吐]</string>
            <key>cht</key>
            <string>[吐]</string>
            <key>gif</key>
            <string>d_tu.gif</string>
            <key>png</key>
            <string>d_tu.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[怒]</string>
            <key>cht</key>
            <string>[怒]</string>
            <key>gif</key>
            <string>d_nu.gif</string>
            <key>png</key>
            <string>d_nu.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[拜拜]</string>
            <key>cht</key>
            <string>[拜拜]</string>
            <key>gif</key>
            <string>d_baibai.gif</string>
            <key>png</key>
            <string>d_baibai.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[睡觉]</string>
            <key>cht</key>
            <string>[睡覺]</string>
            <key>gif</key>
            <string>d_shuijiao.gif</string>
            <key>png</key>
            <string>d_shuijiao.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[酷]</string>
            <key>cht</key>
            <string>[酷]</string>
            <key>gif</key>
            <string>d_ku.gif</string>
            <key>png</key>
            <string>d_ku.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[花心]</string>
            <key>cht</key>
            <string>[花心]</string>
            <key>gif</key>
            <string>d_huaxin.gif</string>
            <key>png</key>
            <string>d_huaxin.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[鼓掌]</string>
            <key>cht</key>
            <string>[鼓掌]</string>
            <key>gif</key>
            <string>d_guzhang.gif</string>
            <key>png</key>
            <string>d_guzhang.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[抓狂]</string>
            <key>cht</key>
            <string>[抓狂]</string>
            <key>gif</key>
            <string>d_zhuakuang.gif</string>
            <key>png</key>
            <string>d_zhuakuang.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[黑线]</string>
            <key>cht</key>
            <string>[黑線]</string>
            <key>gif</key>
            <string>d_heixian.gif</string>
            <key>png</key>
            <string>d_heixian.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[阴险]</string>
            <key>cht</key>
            <string>[阴险]</string>
            <key>gif</key>
            <string>d_yinxian.gif</string>
            <key>png</key>
            <string>d_yinxian.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[good]</string>
            <key>cht</key>
            <string>[good]</string>
            <key>gif</key>
            <string>h_good.gif</string>
            <key>png</key>
            <string>h_good.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[弱]</string>
            <key>cht</key>
            <string>[弱]</string>
            <key>gif</key>
            <string>h_ruo.gif</string>
            <key>png</key>
            <string>h_ruo.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[心]</string>
            <key>cht</key>
            <string>[心]</string>
            <key>gif</key>
            <string>l_xin.gif</string>
            <key>png</key>
            <string>l_xin.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[伤心]</string>
            <key>cht</key>
            <string>[傷心]</string>
            <key>gif</key>
            <string>l_shangxin.gif</string>
            <key>png</key>
            <string>l_shangxin.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[蜡烛]</string>
            <key>cht</key>
            <string>[蠟燭]</string>
            <key>gif</key>
            <string>o_lazhu.gif</string>
            <key>png</key>
            <string>o_lazhu.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
        <dict>
            <key>chs</key>
            <string>[威武]</string>
            <key>cht</key>
            <string>[威武]</string>
            <key>gif</key>
            <string>f_v5.gif</string>
            <key>png</key>
            <string>f_v5.png</string>
            <key>type</key>
            <string>0</string>
        </dict>
    </array>
	<key>emoticon_group_identifier</key>
	<string>com.sina.default</string>
	<key>emoticon_group_name</key>
	<string>默认</string>
	<key>emoticon_group_name_tw</key>
	<string>默認</string>
	<key>emoticon_group_name_cn</key>
	<string>默认</string>
	<key>emoticon_group_name_en</key>
	<string>Default</string>
	<key>emoticon_group_type</key>
	<string>3</string>
</dict>
</plist>
